/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/css/styles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
#container {
    width: "90%";
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.wrapper_content {
    display: flex;
}
.wrapper_content .btnGameOnTab {
    flex: 1 1;
    margin-left: 10px;
    margin-right: 10px;
}

.content {
    font-size: 0.875rem;
    text-align: left;
    padding: 10px;
    font-weight: normal;
}
